<footer>
    <section data-aos="zoom-in-up"
    data-aos-easing="linear"
    data-aos-duration="700" class="footer">
        <aside class="Main-container">
<h1 class="footer-h1">QWERy</h1>
<aside class="footer-btn-1">
    <h4 class="footer-h4">Ready to explore?</h4>
    <a class="footer-btn" href="">Get Started</a>
</aside>
        </aside>
        <aside class="footer-content">
            <aside class="footer-content-1">
<h2 class="footer-h2-2">Let's go on vacation, <br>Make your day</h2>
<aside class="btn">
<input type="text" class="input" placeholder="Email Address">
<span class="material-icons-round input-btn">
    chevron_right
    </span>
</aside>

            </aside>

            <aside  class="row-1">
                <aside class="footer-col-1">
                    <h4 class="footer-col-h4">Services</h4>
                    <ul class="footer-ul">
                        <li ><a href="">Email Marketing</a></li>
                        <li ><a href="">Campaigns</a></li>
                        <li><a href="">Branding</a></li>
                        <li ><a href="">Offline</a></li>
                    </ul>
                </aside>
    
                <aside class="footer-col-1">
                    <h4 class="footer-col-h4">About</h4>
                    <ul class="footer-ul">
                        <li><a href="">Our story</a></li>
                        <li><a href="">Benefits</a></li>
                        <li><a href="">Team</a></li>
                        <li><a href="">Careers</a></li>
                    </ul>
                </aside>
    
                <aside class="footer-col-1">
                    <h4 class="footer-col-h4">Help</h4>
                    <ul class="footer-ul">
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Contact Us</a></li>
                    
                    </ul>
                </aside>
    
               
            </aside>

        </aside>
        <aside class="footer-content-2">
<aside class="footer-text">
<span class="text-2">Terms & Conditions</span>
<span class="text-2">Privacy Policy</span>
</aside>
<aside class="footer-icons">
    <a  href=""><i class='fab fa-facebook-f fb'></i></a>
    <a  href=""><i class='fab fa-instagram insta'></i></a>
    <a  href=""><i class='fab fa-twitter twitter'></i></a>
</aside>
        </aside>
        <h3 class="copyright">Copyright 2023 QWERy</h3>
    </section>
</footer>