
@import '../../assets/scss/base/variables';

footer{
    background: rgb(0, 0, 0);
   

    .footer{
padding: 5rem 15rem;

@media only #{$desktop-pro-max}{
    padding: 5rem 5rem;
}

@media only #{$mobile-xsMax}{
    padding: 4rem 2rem;
}
        .Main-container{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #ffffff90;
padding-bottom: 2rem;


         .footer-h1{
color: white;
font-size: 2.9rem;
@media only #{$mobile-xsMax}{
  font-size: 2rem;
  align-items: center;
}
         }   
         .footer-btn-1{
display: flex;
align-items: center;
gap: 4rem;
            .footer-h4{
font-size: 1.2rem;
font-weight: 400;
color: white;
            }

            .footer-btn{
text-decoration: none;
padding: 1.5rem 4.4rem;
background: #FFA343;
font-size: 1.1rem;
border: 2px solid #FFA343 ;
font-weight: 500;
border-radius: 0.8rem;
color: black;
transition: all 0.2s ease-in;
&:hover{
    background: none;
    color: white;
}

            }
         }
        }

        .footer-content{
            padding-top: 4rem;
display: flex;
justify-content: space-between;
@media only #{$desktop-max}{
  flex-direction: column;
  gap: 5rem;
}
            .footer-content-1{
display: flex;
flex-direction: column;
gap: 3rem;
                .footer-h2-2{
font-size: 2.4rem;
color: white;
                }

                .btn{
                    border-bottom: 1px solid #979797;
                    width: 25rem;
                    justify-content: space-between;
display: flex;
                    input{
background: transparent;
border: none;
outline: none;
padding-left: 1.2rem;
font-size: 0.8rem;
                    }
                    .input-btn{
background: #FFA343;
border-radius: 0.8rem 0.8rem 0px 0px;
padding: 0.9rem;
                    }
                }
            }

            .row-1{
                padding-top: 1.3rem;
                line-height: 2.5rem;
display: flex;
flex-wrap: wrap;
gap: 5rem 15rem;
.footer-col-1{


    .footer-col-h4{
        font-size: 1.2rem;
        color: #FFD1A0;
        }
        
        .footer-ul{
        
            list-style: none;
        
            a{
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
            }
        }
}


            }

      

        }

        .footer-content-2{
display: flex;
padding-top: 10rem;
justify-content: space-between;
            .footer-text{
                display: flex;
                align-items: center;
                gap: 5.5rem;
                font-size: 0.9rem;
color: white;

@media only #{$mobile-xsMax}{
  gap: 2.5rem;
}
                .text-1{

                }
                .text-2{

                }
            }

            .footer-icons{
display: flex;
gap: 4rem;
font-size: 1.8rem;


                i{
                    color: white;
                    &:hover {
                        color: #FFA343;
                    }
                }
            }

          }

        .copyright{
            padding-top: 10rem;
            color: #ffffffa1;
            font-size: 0.8rem;
            font-weight: 400;
            text-align: center;
        }  
    }
}