section{
    background: rgb(0, 0, 0);
 display: flex;
overflow: hidden;
    .fluid-container{
display: flex;
padding: 5rem 10rem;
position: relative;
transition: all 0.5s ease-in;

.carousel-img{
    background-position: center;
    background-size: cover;
    background: url(../../assets/carousel.png) no-repeat;
    width: 130rem;
    height: 70rem;
    position: relative;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.351);
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 align-items: center;
 padding-bottom: 10rem;
 gap: 2rem;
    .h4{
     color:  #FFC178 ;  
font-size: 1.3rem;
position: relative;
letter-spacing: 0.2rem;
    }

    .h4:after{
        content: '';
        position: absolute;
width: 5rem;
height: 0.1rem;
top: 0.8rem;
left: 7rem;
background: #FFC178;
    }

    .h4:before{
        content: '';
        position: absolute;
width: 5rem;
height: 0.1rem;
right: 7rem;
top: 0.8rem;
background: #FFC178;
    }

    .h1{
        color: white;
  font-size: 4rem;
  text-align: center;
    }

    .h6{
font-size: 1.1rem;
font-weight: 300;
color: white;
line-height: 1.9rem;
text-align: center;
    }

    .read-btn{
color: #FFC178;
text-decoration: none;
font-size: 1.2rem;
display: flex;
align-items: center;
gap: 0.8rem;
        .B-arrow{
font-size: 1.5rem;
        }
    }

    .scroll-1{
        position: absolute;
        color: white;
     left: 5rem;
     bottom:34rem;
        font-size: 3.5rem;
            }
    .scroll-2{
        position: absolute;
        color: rgb(255, 255, 255);
       right: 5rem;
       top: 34rem;
        font-size: 3.5rem;
      
            }
        
      

    
}


    }

   

   
}