<section class="Main-head">

    <nav data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"> 
<h2 class="nav-h2">QWERy</h2>
<ul>
    <li><a href="">Information</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Culture</a></li>
</ul>
<aside class="search-wrapper">
<img src="../../assets/cart.png" alt="">
<input class="nav-input" type="text" placeholder="Search">
</aside>
    </nav>
    <aside class="container">
<aside data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1000" class="content-1">
    <span class="text-1">
        <h1 class="content-h1">Follow us</h1>
    </span>
<i class='fab fa-twitter'></i>
<i class='fab fa-instagram'></i>
<i class='fab fa-facebook-f'></i>
</aside>
<aside  data-aos="fade-right"
     data-aos-easing="linear"
     data-aos-duration="1500" class="content-2">
<h4 class="content-2-h4">EXPLORE THE NATURE BEAUTY</h4>
<h1 class="content-2-h1">Discover</h1>
<h1 class="content-2-h1-1">Wonderful Indonesia</h1>
<!-- <aside class="scroll-icon">
    <a class="scroll-a" href="">Scroll Down <span class="material-icons-round arrow">
        south
        </span></a>
</aside> -->

</aside>

    </aside>
 <aside class="scroll-down">
<span class="scroll-arrow"></span>
<span class="scroll-arrow"></span>
<span class="scroll-arrow"></span>
 </aside>
</section>