<section class="main">
    <aside class="container">
        <aside  data-aos="zoom-out-right"
        data-aos-easing="linear"
        data-aos-delay="400"
        data-aos-offset="" class="img">
            <img class="detail-img" src="../../assets/2nd.png" alt="">
        </aside>

<aside data-aos="zoom-out-left"
data-aos-easing="linear"
data-aos-delay="400"
data-aos-offset="" class="detail-content-1">
<h5  class="h5">EAST NUSA TENGGARA</h5>
<h1 class="h1">Have you <br> enjoyed your <br> holiday?</h1>
<h6 class="h6">You will be amazed if you take part in this sailing Komodo island tour package. So it <br> is also mandatory for you, besides enjoying Komodo <br> tourism on Komodo Island, you also have to taste the marine tourism.  The beautiful <br> waters of Komodo will make you meet many travelers from other countries.</h6>
<a class="detail-text" href="">read more <span class="material-icons-round A-arrow">
    east
    </span></a>
</aside>
    </aside>
</section>